include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

debug {
    render-drm-device "/dev/dri/renderD128"
}

include "./noctalia.kdl"

output "eDP-1" {
    mode "1920x1080@144.002"

    scale 1.1

    transform "normal"
    position x=0 y=0
}

blur {
    passes 1
}
